<!DOCTYPE html>
<html>

  <head>
    <title>Degrees of Sound</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Next generation Soundcloud analytics. Find the influencers in your network, and supercharge your career.">
    <meta name="keywords" content="soundcloud, analytics, followers, get followers, popularity, famous, tool, online, free">
    <meta name="author" content="Jose Herrera">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  </head>

  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Degrees of Sound</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#features">Features</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header id="page-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="images/logo2.png" alt="">
                    <div class="intro-text">
                        <span class="name">New Degrees of Sound!</span>
                        <hr>
                        <span class="skills">Next generation Soundcloud analytics.</span>
                    </div>
                    <a href="/login"><img id="soundcloud-btn" class="img-responsive" src="images/soundcloud-button.png"></a>
                </div>
            </div>
        </div>
    </header>

    <!-- Services Section -->
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                </div>
            </div>
            <br>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-globe fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Use Soundcloud as a true social network</h4>
                    <p class="text-muted">Leverage Soundcloud's data for powerful analytics</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user-plus fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Help you network with the influencers</h4>
                    <p class="text-muted">Find the key artists and promoters in your network</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-flash fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Has many more features coming soon</h4>
                    <p class="text-muted">We're developing many more tools to supercharge your music career</p>
                </div>
            </div>
        </div>
    </section>
    
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-2 footercontent">
                    <span class="copyright ">Degrees of Sound &copy; 2016</span>
                </div>
                <div class="col-md-6 col-md-offset-0 footercontent">
                    <ul class="list-inline social-buttons ">
                        <li><a href="mailto:degreesofsoundbot@gmail.com?Subject=feedback"><i class="fa contact fa-envelope-o"></i></a>
                        </li>
                        <li><a href="https://www.facebook.com/degreesofsoundsoftware/"><i class="fa contact fa-facebook"></i></a>
                        </li>
                        <li><a href="https://www.linkedin.com/in/joseherreram"><i class="fa contact fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 footercontent">
                    <ul class="list-inline quicklinks ">
                        <li>Donate: <a href="bitcoin:1FWNaM53vP2rivVgNDp7rcXXNEubGATGzw?amount=0.0065&label=Degrees%20Of%20Sound%20Development" style= "color: #333;">1FWNaM53vP2rivVgNDp7rcXXNEubGATGz</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-82806115-1', 'auto');
  ga('send', 'pageview');

</script>
  </body>

</html>
